@font-face {
    font-family: 'Nunito';
    src: url('Nunito-Light.ttf');
}

.createNotes {
    display: grid;
    grid-template-columns: 300px 220px;
    column-gap: 40px;
}

.fileInput {
    display: grid;
    grid-template-rows: 1fr 120px;
    row-gap: 10px;
    width: 560px;
}

#buttonsFileToShow {
    display: grid;
    grid-template-columns: 50% 50%;
}

#textNotesArea {
    width: 560px;
}

.loginContainer {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: -1;
}


body {
    background-color: #FBFBFB;
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    font-weight: 100;
    color: white;
}

#header {
    display: flex;
    align-items: center;
    margin-top: 18px;
    margin-left: 40%;
}

#header h3 {
    font-weight: 100;
    font-size: 50px;
    color: #ffffff;
    margin: 0 0 0 10px;
}



.sections {
    margin: 2% 10% 2% 0%;
    font-weight: normal;
    font-size: 25px;
}

.expand {
    background: url(img/chevron-square-up.svg) no-repeat center;
    height: 30px;
    margin-bottom: -4px;
    margin-right: 6px;
    width: 30px;
    display: inline-block;
    transform: rotate(180deg);
    transition: transform 0.4s;
    cursor: pointer;
}

textarea#styled {
    width: 600px;
    height: 60px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;
    background-position: bottom right;
    background-repeat: no-repeat;
}


button {
    border-radius: 4px;
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    font-weight: 100;
}

input,
select {
    padding: 4px;
    border: 1px solid #458BC6;
    margin-left: 6px;
}